.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #333;
  color: #fff;
  padding:0;
  width: 100%;
  font-size:3vw;
  position:fixed;
  z-index: 1;
  /* height: 15vh; */
  /* margin-top: 0; */
  top:0;
  left:0;
 }
 .navbar button{
  font-size:3.5vw;
  background-color: #e5007e;
  border-radius: 10%;
  color: white;
  max-width: 15vw;
 }
 .navbar a:hover{
  text-decoration: underline;
 }
.navbar button:hover{
  background-color: #ef66ad
}
.logo img {
  max-height: 15vh; 
  max-width: 20vw;
  margin: 0;
  padding: 0;
}

.tabs a {
  text-decoration: none;
  color: #fff;
  margin-right: 5vw; 
  /* Add spacing between tabs */
}

/* Style the last tab differently */
.tabs a:last-child {
   margin-right: 10; 
}
@media screen and (max-width:600px){
  .navbar{
    font-size: 4vw;
  }
  .tabs a{
    text-decoration: none;
    color:#fff;
  }
}
