.food_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: black;
  border:1px solid white;
  border-radius: 20px;
}
.food_card_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}

.Vegan {
  height: 1.5em;
  width: 1.5em;
  font-size: 1em;
  background-color: green;
  display: flex; /* Use flexbox for centering within the .food_card_text */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.food_card_text .something{
  height: 1.5em;
  width: 1.5em;
  
}

.food_card:hover {
  transform: translateY(-5px); 
}

.food_card h3 {
  margin: 0;
}

.food_card_image img {
  width: 70%; 
  max-width: 70%;
  /* height: auto;  */
}
.food_card .contains{
  color: #bbb;
}
.food_card button{
  background-color: #e5007e;
  width: 15vw;
  color: white;
}
.food_card button:hover{
  background-color: #ef66ad
}
@media only screen and (max-width:600px){
  /* Style for the food card container */
/* Style for the food card */
/* Style for the food card */
.food_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border:1px solid white;

}

/* Style for the food card image */
.food_card_image {
  max-width:25em; /* Adjust the image width as needed */
   max-height:25em;/* Maintain aspect ratio */
  padding: 0;
  margin: 0;
  object-fit: cover;
}

/* Style for the food card text container */
.food_card_text {
 
  display: flex; /* Use flexbox to control the layout of text content */
  flex-direction: column; /* Stack text content vertically */
  color: white;
  text-align: left;
}
.food_card_text h3{
  color: #e5007e;
}
.contains{
 align-items: left;
}

/* Style for the Vegan label */
.Vegan {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

/* Style for the Non-Vegan label */
.something {
  /* background-color: red; */
  color: white;
  padding: 5px;
  border-radius: 3px;
  z-index: 2;
}

/* Additional styling for the rest of the food card content */
.food_card h3 {
  font-size: 1.2em;
  margin: 0;
}

.food_card h5 {
  font-size: 1em;
  margin: 0;
}

.food_card p {
  margin: 0;
}
.food_card button{
  background-color: #5e0536;
 margin-top: 10px;
}
.food_card button:hover{
  background-color: #ef66ad
}

/* Add more styles as needed for your specific design */

}