/* 
.Dietary {
 
  background-color: black;
  color: white;
  display: grid;

}


.Dietary .switch {
  display: flex;
}

.Dietary .switch label {
  font-size: 1em;
  color: green;
  font-weight: bold;
text-transform: uppercase;}
 */
