.location-container{
  display: flex;
  flex-direction: row;
}
.searchcontainer{
  padding-top: 17vh;
 }
.staticMap img{
  padding-top: 17vh;
  display: block;
  width:60vw;
  margin:0;
  /* width: 50%;
  height: 50%; */
 /* margin: 0 auto; */
 /* width: 100vw;
 height: 100vh; */
 /* filter:grayscale(80%); */

}

/* .searchstore{
  padding-bottom: 15vh;
 height: 30vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:10px;
 font-size: 2em;
} */

@media (max-width:600px) {
  .searchcontainer{
   padding-top: 10vh;
  }
  .staticMap img{
    /* width: 100vw; */
    padding-top: 10vh;
    /* filter:grayscale(80%) */
  }
  
}