.location-container {
  display: flex;
  flex-direction: row;
}

.searchcontainer {
  padding: 17vh 3vw;
  width: 40vw;
  background-color: #f2f2f2;
  overflow-y: auto;
  height: 100vh;
  text-align: center;
}

.staticMap img {
  display: block;
  width: 60vw;
  height: 100vh;
  margin: 0;
}

.noresult {
  color: #777;
  font-size: 0.8em;
}

.searchcontainer h1 {
  font-weight: 600;
  line-height: 1em;
  font-size: 1.8em;
}

.searchcontainer input {
  width: 15vw;
  height: 8vh;
  font-size: 1.2em;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 3px;
}

.searchcontainer button {
  height: 8vh;
  width: 4vw;
  background-color: #e5007e;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchcontainer button:hover {
  background-color: #f13ea0;
}

.storecard {
  background-color: #fff;
  margin: 2vh;
  line-height: 1.4;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.storecard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.openclose {
  font-weight: bold;
  font-size: 1.3em;
  color: #e5007e;
}

.storecard .direction_button, .storecard .deliveroo {
  width: 90%;
  height: 10vh;
  font-size: 1.8em;
  font-weight: bold;
  margin: 2vh 0;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.storecard .direction_button {
  background-color: #fff
}

.storecard .deliveroo {
  background-color: #fff
}

.storecard .a {
  text-decoration: none;
}



@media (max-width: 600px) {
  .location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .searchcontainer {
    padding-top: 10vh;
    width: 80vw;
  }

  .staticMap img {
    display: none;
  }

  .mobileimage img {
    width: 80vw;
    height: 30vh;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .searchcontainer h1 {
    font-size: 1.8em;
    line-height: 1.2;
    text-align: center;
  }

  .searchcontainer input {
    width: 70%;
    height: 15vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  .searchcontainer button {
    width: 25%;
    height: 15vw;
    background-color: #e5007e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .searchcontainer button:hover {
    background-color: #f13ea0;
  }

  .result-restaurant {
    overflow: visible;
    margin-bottom: 20vh;
  }

  footer {
    text-align: center;
    padding: 10px;
  }
}
