.staticMap img{
  padding-top: 17vh;
  display: block;
 margin: 0 auto;
 width: 100vw;
 height: 100vh;
 filter:grayscale(80%);

}
/* .searchstore{
  padding-bottom: 15vh;
 height: 30vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:10px;
 font-size: 2em;
} */
.searchstore{
 margin:0 auto;
 font-size: 1em;
}

@media (max-width:600px) {
  .staticMap img{
    /* width: 100vw; */
    height: 50vh;
    padding-top: 10vh;
    filter:grayscale(80%)
  }
  
}