
.Dietary {
  width: 11%;
  background-color: #444242;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Dietary .switch {
  display: flex;
  gap: 10px;
}

.Dietary .switch label {
  font-size: 1em;
  color: green;
  font-weight: bold;
text-transform: uppercase;}

@media (max-width:600px) {
  .Dietary{
    width: 50%;
  }
}