.categories{
  width: 100%;
  overflow: hidden;
}
.button-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  
}

.button-default{
  background-color: #ccc;
}
.button-active{
  background-color:#e5007e;
  order: -1;
}